[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Visual Studio Code
Icon=com.visualstudio.code
 
[X-Action-Profile profile_id]
MimeTypes=inode/directory;
Exec=code %D
#Exec=command and arguments
# Example: Exec=gedit %f
