[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Xfce Terminal
Icon=org.xfce.terminal

[X-Action-Profile profile_id]
MimeTypes=inode/directory;
Exec=x-terminal-emulator
