[Desktop Entry]
Name=Gmail
GenericName=Gmail
Exec=brave-browser %u --app=https://www.gmail.com/
Terminal=false
Type=Application
Categories=GTK;WebBrowser;Network
Icon=mail-unread
